<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Raagini</a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a routerLink="/">Home</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
        <li><a routerLink="/resume">Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>