 <div class='sec-home' id="home">
        <div class='container'>  
					  
         <h2>Rajarshi Yelamati</h2>
          <p>Always trying to create something which not exist before</p>
          <div class="row">
            <div class="col-md-12">
             
             <a type="button" class="btn btn-default btn-lg" onClick="window.open('https://github.com/rajarshiwd');">
               <i class="fa fa-github"></i> Github
             </a>
              <a type="button" class="btn btn-default btn-lg" onClick="window.open('https://www.linkedin.com/in/rajarshi-y-a00513146/');">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
             
            </div>
          </div>
							
          </div>
			</div>

			 <div class='sec-about' id="about" >
        <div class='container'>    
          <div class='row'>
						<div class='col-xs-12'>  
            <div class='col-xs-8'>    
            <h1 class="head">Rajarshi Yelamati</h1>
              <p class="des">7 Years of Professional experience in the developing User Interface Applications, Responsive and professional web applications using Angular JS 1.x/2.x, Bootstrap, HTML4.0/5, CSS2/ CSS3, JavaScript, jQuery, AJAX, JSON and XML.</p>
            </div>
              <div class='col-xs-4'>    
								 <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAaqAAAAJGEwYmI3MzJiLTEwN2ItNDI0Mi1hNGI0LTYyZWM4YTkxNTBmZg.jpg" class="img-circle" alt="rajarshi" >
               
							</div> 
								</div>
          </div>
        </div>
			</div>
			
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.622995093299!2d-96.9668423853064!3d32.88169298094046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e827e1167ebdd%3A0x798c97580f75c47e!2sJefferson+Ridge%2C+Irving%2C+TX+75038!5e0!3m2!1sen!2sus!4v1501393853247" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen ></iframe>
			
			
			 <div class='footer'>
         
          <ul>
            <li><a href="#home">Home</a></li>
            <li>-</li>
            <li><a href="#about">About</a></li>
            <li>-</li>
            <li><a href="#port">Portfolio</a></li>
            <li>-</li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        <p>Copyright © Rajarshi Yelamati 2017. All Rights Reserved</p>
      </div>