body {
font-family: 'Open Sans', sans-serif;  
}
@media (max-width: 768px) { 
.sec-home h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 100px;
  font-weight: bold;
  text-shadow: #300 4px 4px;
}
#about{
	height: 400px;
}
#about .img-circle{
	margin-top: 100px;
  width:100px;
  height:100px;
}
#about .des{
	
  font-size: 12px;
  color:black;
}
#about .head{
	margin-top: 100px;
  
  color:black;
}



}

 @media (min-width: 992px)
  { 

.sec-home h2 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding-top: 100px;
  font-weight: bold;
  text-shadow: #300 4px 4px;
}
#about{
	height: 600px;
}
#about .img-circle{
	margin-top: 150px;
  width:300px;
  height:300px;
}
#about .des{
	
  font-size: 20px;
  color:black;
}
#about .head{
	margin-top: 150px;
  
  color:black;
}

  }

#navbar  {
  float:right;
}
/**/
.container h2{
  margin-top:150px;
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.sec-home {
  text-align: center;
  background: url('https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') center center fixed;
 
 
 
   background-position: center ;
   background-size: cover;  
           background-attachment: fixed;
           background-position: center center;
           background-repeat: no-repeat;
           height:900px;
           width: 100%;
  
}


.sec-home p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 3px;
 }



.sec-port {
  text-align: center;
  background: url('https://cdn3.artstation.com/p/assets/images/images/000/328/663/large/erel-maatita-star-wars-eps-7-fan-art.jpg?1417431756') center center fixed;
  background-size: cover;
  height: 1050px;
  color: #fff;
  margin:-50px;
}

.sec-port h2{
  font-size: 64px;
}

.sec-contact {
  text-align: center;
  background: url('https://upload.wikimedia.org/wikipedia/en/9/9f/Shi_DeRu_and_Shi_DeYang.jpg') center center fixed;
  background-size: cover;
  height: 850px;
  color: #fff;
  margin:-50px;
}

.footer {
  height: 90px;
  background-color: black;
  
  text-align: center;
 }

.footer ul li{
  font-size: 14px;
  display: inline;
  margin: 10px 10px 10px 10px;
}

.footer p{
  font-size: 14px;
  margin: 10px 10px 10px 50px;
}

.btn:hover {
  background-color: #ff5;
  color:#aaa;
  transition: 0.5s;   
}

li:hover{
  background-color: #ddd;
}






#botoes {
  margin-top: 100px;
  }

#botoes a {
  margin-top: 10px;
  }

spam {
  color:red;
  font-weight: bold;
}

#port .col-md-4{
  /*background-color:red;*/
  border:white solid 1px;
  height:300px;
  padding:0px 20px 0px 20px;
}

#port .col-md-4:hover{
  /*background-color:red;*/
  border:gray solid 1px;
  box-shadow:black 10px 10px 10px;
  transition: 0.1s;
}

.a {
  height:80%;
  position: relative;
  z-index:1;
 }




.b {
  height:20%;
  background-color:gray;
  position: relative;
  z-index:2;
  padding: 15px;
  font-size:20px;
}
