 <div class='sec-home' id="home">
        <div class='container'>  
					  
         <h2>Raagini Kakarla</h2>
          <h4>Always trying to create something which doesn't Exist before</h4>
          <div class="row">
            <div class="col-md-12">
             
             <a type="button" class="btn btn-default btn-lg" onClick="window.open('https://github.com/raagini77');">
               <i class="fa fa-github"></i> Github
             </a>
              <a type="button" class="btn btn-default btn-lg" onClick="window.open('https://www.linkedin.com/in/raagin-k-544127152/');">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
              
            </div>
          </div>
							
          </div>
			</div>

			 <div class='sec-about' id="about" >
        <div class="container-fluid">    
          <div class='row'>
						<div class='col-xs-12'> 
               <div class='col-xs-0 col-md-1'> </div> 
            <div class='col-xs-8 col-md-8'>    
            <h1 class="head"><b style="color:blueviolet">Raagini Kakarla</b></h1>
              <div class="des">
                <p>Creative UI Developer with a passion for Front End Design and proven ability to implement and integrate the latest web technologies. </p>
<p>Excels in developing Admin & BI Dashboards with heavy emphasis on data visualization & charting , in addition to developing SaaS portals, e-commerce systems, and responsive mobile-first web applications.</p>
<p>Over 5 years of extensive work experience in writing web application programs covering front-end/UI using the web technologies like HTML4/5, XHTML, CSS2/3, JAVASCRIPT, JQUERY, JQUERY UI, JSON, AngularJS, XML and AJAX.</p>
<p>	Highly Curious about new front-end development technologies and adept at promptly and thoroughly mastering them with a keen awareness of new industry developments and the evolution of programming solutions.</p>
</div>
            </div>
              <div class='col-xs-3 col-md-3'>    
								 <img src="assets/images/Raaginip.JPG" class="img-circle"  alt="raagini" >
               
							</div> 
								</div>
          </div> 
        </div>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.3846649519814!2d-96.95634238530454!3d32.940852180922775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c28fab966a771%3A0x92de360d72ab352a!2s9861+Valley+Ranch+Pkwy+W%2C+Irving%2C+TX+75063!5e0!3m2!1sen!2sus!4v1502082555051" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
			
		
			
			
			 <div class='footer'>
         
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li>-</li>
            <li><a routerLink="/portfolio">Portfolio</a></li>
            <li>-</li>
            <li><a routerLink="/resume">Resume</a></li>
          
            
          </ul>
        <p>Copyright © Raagini 2017. All Rights Reserved</p>
      </div>