

.example-card {
  width: 300px;
  margin:10px;
  background-color: green;
}

.example-header-image {
  background-image: url("https://image.ibb.co/nbErfQ/raja.jpg");
  background-size: cover;
} 

.example-container {
  width: 300px;
   
  
  
}

.example-sidenav-content {
 
  height: 100%;
 
}

