<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-lg-4" *ngFor="let course of courses" >
     
<div class="card" >
<div *ngIf="showdown"> 
  <p>{{course.description}}</p>
</div>

   
    <img src="{{course.image}}"alt="John"  class="courimg">
    <h1>{{ course.title }}</h1>
    
 
    <div style="margin: 24px 0;">
   
      <a type="button" class="btn btn-default btn-sm" onClick="window.open('https://github.com/leogonzalez');">
               <i class="fa fa-github"></i> Github
             </a>
              <a type="button" class="btn btn-default btn-sm" (click)="hideshow()" *ngIf="showup">
              <i class="glyphicon glyphicon-arrow-up"></i> Details
            </a >
            <a type="button" class="btn btn-default btn-sm" (click)="hideshow()" *ngIf="showdown">
              <i class="glyphicon glyphicon-arrow-down"></i> close
            </a>
            
   </div>
   
  
</div>



    </div>
    
  </div>
</div>







