<div  class="container" style="margin-top:60px; ">
 
  <a href="https://drive.google.com/file/d/0BwJHWJvo2xi6YjlHOG93UTRpMUU/view?usp=sharing" ><span class="glyphicon glyphicon-cloud-download" ></span><b>Download Resume</b></a>
  
</div>

  <div class="container">
  
 <div class="panel-group">
  <div class="panel panel-info">
      <div class="panel-heading">Professional Highlights:
        
      </div>
 <div class="panel-body">
<ul>
<li>	7 Years of Professional experience in the developing User Interface Applications, Responsive and professional web applications using Angular JS 1.x/2.x, Bootstrap, HTML4.0/5, CSS2/ CSS3, JavaScript, jQuery, AJAX, JSON and XML</li>
<li>	Good Experience in working with the Document Object Model (DOM) and DOM Functions</li>
<li>	Worked on responsive applications using HTML5, CSS3 and Bootstrap</li>
<li>	Experience in working with CSS Preprocessors (LESS, SASS)</li>
<li>	Used Angular native features extensively to develop Single Page Application</li>
<li>	Expertise in creating Custom Components and Directives depending upon the need of the application</li>
<li>	Worked on consuming the Rest API data using Angular Services and Used HTTP methods to perform CRUD operations</li>
<li>	Used RXJS for formatting the Http response into required JSON format</li>
<li>	Expertise in using routing module for navigating between the component views</li>
<li>	Responsible for using Built-in Pipes and developing Custom Pipes depending on the requirement of project</li> 
<li>	Expertise in creating the Template Driven Forms and Model Driven Forms with Form Builder</li>
<li>	Worked on creating the Dynamic Forms using Model Driven Forms of Angular</li>
<li>	Wrote application level code to add functionality to perform Client-Side Validation using Angular In-Build classes</li>
<li>	Experience building Angular Apps in Test Driven Development Perceptive</li>
<li>	Has good knowledge in Testing angular applications using Jasmine and Karma</li>
<li>	Expertise in composing test cases for Unit Testing of components and testing Angular services
<li>	Expertise in using the MVC pattern for proving a great user interface</li>
<li>	Worked in developing the End to End Testing Scenario using Protractor Framework</li>
<li>	Expertise in creating the Services by registering to module either with provider or factory to increase the reusability of code</li>
<li>	Experienced in using CSS Pre-Processors like SASS, LESS</li>
<li>	Extensively developed Dynamic web applications using JQuery, Ajax and JavaScript</li>
<li>	Handled Browser Compatibility Issues in HTML, CSS and JavaScript for IE, Firefox, Safari and Chrome browsers</li>
<li>	Experience in developing web pages for   W3C accessibility</li>
<li>	Experience in using various IDE’s like Eclipse, Net Beans, Brackets, Sublime text, Web storm and Visual Studio</li>
<li>	Good working knowledge in Application servers such as Apache Tomcat, WebLogic, Jboss</li>
<li>	Experience working with Agile/Scrum and waterfall development methodologies</li>
<li>	Strong work experience in working with version controls like SVN and GIT</li>
<li>	Experience on Java (JSP, SERVELETS)</li>
<li>	Expertise in SQL queries on databases like MySQL, Oracle and SQL server</li>
<li>	Curious to learn latest technologies & work in Multi-platform environment</li>
<li>	Domain Knowledge of e-commerce, Banking, finance, Health</li>
<li>	Good understanding of SEO</li>
</ul>
 </div>
  </div>
  <div class="panel panel-info">
      <div class="panel-heading">TECHNICAL SKILLS:</div>
<div class="panel-body">
<table class="table table-striped">
  
  <tr>
      <td>Operating System</td> <td>Windows 2000/XP/Vista/7/8/10</td>
  </tr>
  <tr>
    <td>Web Technologies</td> <td>HTML5, CSS 3, Bootstrap, JavaScript, JQuery, Photoshop, CSS3 Preprocessors (LESS, SASS)</td>
  </tr>
  <tr>
    <td>JavaScript Frameworks</td>
    <td>Angular 1.x/Angular 2, jQuery</td>
 
  </tr>
  <tr>
    <td>Database</td>
    <td>My SQL, SQL SERVER</td>
    
  </tr>
  <tr>
    <td>Debugging tools	</td>
    <td>Developer tools</td>
    
  </tr>
  <tr>
    <td>Testing</td>
    <td>Karma, Jasmine, Protractor</td>
    
  </tr>
<tr>
    <td>Task Runner	</td>
    <td>Grunt.js</td>
    
  </tr>
<tr>
    <td>Version Controller</td>
    <td>Sub version, GIT</td>
   
  </tr>
<tr>
    <td>Project Management </td>
    <td>Jira, Agile</td>
   
  </tr>
<tr>
    <td>IDE’s</td>
    <td>Eclipse, Net beans, Visual Studios</td>
    
  </tr>
<tr>
    <td>GUI Editors	</td>
    <td>Notepad++, Sublime Text, Brackets, Web storm</td>
  
  </tr>
<tr>
    <td>Back-end knowledge </td>
    <td>Java, J2EE, JSP, SERVELETS, Node.js, JDBC, Web Services (REST), Jersey, JDBC</td>
    
  </tr>

</table>
</div>
  </div>
<div class="panel panel-info">
      <div class="panel-heading">WORK Experience :</div>
      <div class="panel-body">

<p><b>Client:</b> Fidelity Investments, Dallas, TX				</p>
<p><b>Project Duration:</b>	Aug-2016 to till date</p>
<p><b>Role:</b> Sr.UI Developer  	</p>
							
<p>Fidelity Investments operates a brokerage firm, manages a large family of mutual funds, provides fund distribution and investment advice, retirement services, wealth management, securities execution and clearance, and life insurance. It had an annual turn-over of 15.9 billion dollars and provides employment for over 45,000 employees</p>

<b>Responsibilities:</b>
<ul>
<li>	Responsible for development of single page applications using angular2 as a front-end frame work</li>
<li>	Used angular In-built validations for form validations for submitting the valid form</li> 
<li>	Responsible for writing the SQL quires for selecting, adding, deleting and updating the data in the MySQL database</li>
<li>	In this project, we used the karma to set-up test platform with Jasmine as a framework</li>
<li>	Worked in Test Driven Environment for unit testing of the components and services to ensure the expected behavior</li>
<li>	Extensively tested the services by intercepting the HTTP calls before connecting to real server API</li>
<li>	Created custom directives to add required behavior to the html element</li>
<li>	Used Built-In Pipes to format the data and also created Custom Pipes to format the backend data into desired format</li>
<li>	I have used HTTP methods extensively to retrieve the data from the rest API and used that data to update the page dynamically</li>
<li>	Used RXJS Observables to ensure of getting desired type of http response data</li>
<li>	Made use of Operators from RXJS library for formatting the response into the desired format</li>
<li>	Responsible for Routing the application from the one component to the other component and the routing between the child components inside the parent component</li>
<li>	Used Input directive for the communication between the components the parent component and child component and Output directive for vice versa</li>
<li>	Responsible for testing the routing prior to merge, into the testing server</li>
<li>	Make use of Bootstrap classes to fit the forms in all type of devices</li>
<li>	Responsible in making sure the pattern is similar across all the web pages</li>
<li>	Worked closely with SQA team in fixing the reported bugs/defects and checking cross platform</li>
<li>	Managing and implementing all code changes via Git</li>
<li> Deploying builds across development, staging and production instances and maintaining code integrity</li>
</ul>
<p><b>Environments:</b>angular2, Karma, jasmine, Restful Web Services, Jersey, MySQL, Bootstrap, GitHub, HTML, CSS.</p>

<p><b>Client:</b> Standard Insurance Company, Portland, OR		 </p>
<p><b>Project Duration:</b>Jul-2015 to Aug-2016</p>
<p><b>Role:</b> Sr.UI Developer</p>
					
<p>Standard Insurance Company, also branded as The Standard, is an American insurance and financial company which is a subsidiary of StanCorp Financial Group, headquartered in Portland, Oregon. The Standard covers 9 million people in the USA through and out of above 30000 employers with group and individual disability insurance, group life, AD&D and dental insurance, retirement plans products and services, individual annuities</p>

<b>Responsibilities:</b>
<ul>
<li>	Development of single page applications using AngularJs as a frontend JavaScript framework</li>
<li>	Working in the Agile/Scrum development environment with frequently changing requirements and actively participated in scrum meetings and reviews</li>
<li>	Expertise in using the MVC pattern for proving a great user interface</li>
<li>	Created custom components and custom directives depending upon the need of the application</li>
<li>	Composed the unit tests using Jasmine methods to ensure the proper working of controllers attached to component after the creation of the every new component in the application and used Karma to run the test cases in the separate browsers runs in background</li>
<li>	Worked on nesting the scope to limit access to the properties of application components while providing access to shared model properties</li>
<li>	Used Built-in filters to reformat the data in-order to display the data in required format and to filter the data based on a user search string. Created a Custom filters to attached a desired response of Boolean</li>
<li>	Used Data Binding to create an easy means of communication between the view and model in the application</li>
<li>	Expertise in composing the Event handlers in the Component Controller Class to enhance the user interface by making it the webpage more dynamic to user interactions</li>
<li>	Worked in developing the End to End Testing Scenario using Protractor Framework after completion of a particular feature of the application</li>
<li>	Added the Routing functionality to the application by using ngRoute Module which lets the user navigate from one view to different view inside the angular application</li>  
<li>	Added Deep linking feature of routing to the applications components view by using $routeProvider</li>
<li>	I have used bootstrap classes to make it appear consistent among different devices with different viewport devices</li>
<li>	Managing and implementing all code changes via Git. Deploying builds across development, staging and production instances and maintaining code integrity</li>
<li>	Extensively used HTTP methods to fetch the data from the backend and to display it on the webpage</li>
<li>	Expertise in creating the Services by registering to module either with provider or factory to increase the reusability of code</li>
</ul>
<p><b>Environment:</b> HTML5, CSS3, JavaScript, AngularJs, JSON, Bootstrap, Git, Agile, Karma, Jasmine, Protractor.</p>


<p><b>Client:</b> Bank Of America,Charlotte, North Carolina. 					</p>
<p><b>Project Duration:</b>Feb-2014  to Jun-2015</p>
<p><b>Role:</b> UI Developer</p>

<p>Bank of America Corporation is a multinational banking and financial services corporation headquartered in Charlotte, North Carolina. It is ranked 2nd on the list of largest banks in the United States by assets.</p>

 <b> Responsibilities:</b>
 <ul>
<li>	Designed the frontend applications, user interactive (UI) web pages using web technologies like HTML5, CSS3 and Bootstrap</li>
<li>	Working in the Agile/Scrum development environment with frequently changing requirements and actively participated in scrum meetings and reviews</li> 
<li>	Bootstrap used along with AngularJS in creating the Application</li>
<li>	Development of Client-Side Validation techniques using AngularJS</li>
<li>	Involved in designing User Interface (UI) applications and professional web applications using JavaScript, AngularJS, Bootstrap, HTML, CSS and JSON</li>
<li>	Developed custom directives and Services in AngularJS</li>
<li>	Client-side validations using angularJs in-built classes 
<li>	Using SVN as source repository and controlling versions of the code</li>
<li>	Responsible for writing the SQL quires for selecting, adding, deleting and updating the data in the MySQL database</li>
<li>	Worked with backend for creating RESTFUL API using Jersey framework</li>
<li>	Used JSON communication for accessing RESTful web services data payload</li>
<li>	Involved in production support and bug fixing</li> 
<li>	 Involved in preparing User Manuals to better understand different functionalities</li> 
</ul>

<p><b>Environment:</b> HTML5, CSS3, JavaScript, AngularJs, JSON, Web services (REST), Jersey, Eclipse, Agile, SVN, MySQL, JDBC.</p>



<p><b>Client:</b> Sate Farm, Bloomington, IL.			</p>
<p><b>Project Duration:</b>Jan-2012 to Feb-2014</p>
<p>State Farm is a mutual company – with policyholder members – not driven by the demands of investors. The driving force of the Company is comprised of more than 68,000 employees.</p>
<p><b>Role:</b> Jr.Web/UI Developer</p>

<b>Responsibilities:</b> 
<ul>
<li>Developed frond-end UI pages using HTML, CSS, JSON, JavaScript, JQuery and AJAX</li>
<li>	Worked on Responsive Web Design using Bootstrap Grid System and CSS3 Media Query</li>
<li> the report data on the client side Front-end using JavaScript, HTML, CSS</li>
<li>	JQuery Ajax is used for fetching the data from the backend and displaying on the webpage</li>
<li>Used JQuery UI widgets autocomplete, date picker, tabs to enhance the web application user experience</li>
<li>	Used JQuery event handling in UI pages to display list boxes and to handle validations</li>
<li>	Handled Browser compatibility issues for different browsers related to CSS and HTML</li>
<li>	Used Git for version control, JIRA for project tracking and Gulp for task runner</li>
 
</ul>
<p><b>Environment:</b> HTML, CSS, JavaScript, JQuery, AJAX, JSON, D2.js.</p>


 <p><b>	Client: </b>, OSF Healthcare, Peoria, IL.				 </p>
 <p><b>Project Duration:</b> Aug-2010 to Jan-2012</p>
<p><b>Role:</b> Jr.Java Developer</p>

<p>OSF Healthcare is a not-for-profit Catholic health care corporation that operates a medical group, hospital system, and other health care facilities in Illinois and Michigan.</p>
 <b>Responsibilities:</b>
<ul>
<li>Creating Front-end Applications using HTML, CSS and JavaScript</li>
<li>Work closely with Sr. Developers and BA to gather all the required information</li>
<li>Designed a CRUD functionality of various resources using Java Servlets</li>
<li>Involved in the developing the markup of JSP within the application</li> 
<li>Developed the application by writing corresponding unit tests for various modules</li>
<li>Implementing the business logic required for the application</li>
<li>Used JDBC to connect the servlets methods to database</li>
<li>Extensively wrote SQL quires to retrieve the data from the MySQL database</li>
<li>Involved in styling the application styles using the blueprint CSS framework</li>
<li>Developed JSPs and Servlets to dynamically generate HTML and display the data to the client side</li>
<li>Managing and implementing all code changes via Git</li>

</ul>
<p><b>Environment:</b>  HTML, CSS, JavaScript, Ajax, Java, JSP.</p>
      </div>
</div>
</div>
