<div  class="container" style="margin-top:60px; ">
 
  <a href="https://drive.google.com/open?id=0B-MQXohwtW98ZS1MN3dMWUdzaXc" ><span class="glyphicon glyphicon-cloud-download" ></span><b>Download Resume</b></a>
  
</div>

  <div class="container">
  
 <div class="panel-group">
  <div class="panel panel-info">
      <div class="panel-heading">Professional Highlights:
        
      </div>
 <div class="panel-body">
<ul>
<li>Around 5 years of experience in the Web Applications Development using HTML 4.01/5, CSS (2/3), JavaScript, XHTML, Angular JS 1.x/2.x, Bootstrap, jQuery, AJAX and JSON.</li>
<li>	Developed Responsive Web designs (RWD) using CSS3 Media Queries and Bootstrap.</li>
<li>	Experience in Angular JS to create maintainable and testable single page application and worked with the Architecture teams to implement upgrade of Angular 1.5 to Angular 2.0. </li>
<li>	Created TypeScript reusable components and services to consume REST API's using Component based architecture provided by Angular 2. </li>
<li>	Experience in using angular 2 features like interpolation, pipes, property binding, event binding and two-way Data Binding. </li>
<li>	Experience in creating the Template Driven Forms and Model Driven Forms with Form Builder. </li>
<li>	Experience in Angular 2 structural directives and attribute directives which are responsible for DOM manipulation. Implemented bootstrap CSS in Angular for developing rich and responsive UI  </li>
<li>	Used Angular 2 Http Request to read data from web servers and process JSON data to render in the UI </li>
<li>	Experience in creating and consuming Restful API’s using NodeJS and Express Framework.  </li>
<li>Experience in using different jQuery Effects, Events, Selectors, traversing through HTML DOM elements using jQuery provided methods.  </li>
<li>Thorough exposure on compatibility issues with different versions of browsers like Internet Explorer, Mozilla Firefox, Safari and Google Chrome. </li>
<li>Experience in CSS pre-processors like SASS and LESS </li>
<li>	Extensively used CSS, jQuery, Ajax to enhance functionality and user experience on web pages </li>
<li>Expertise in Client Side designing and validations using HTML, jQuery, Java Script, Angular 2. </li>
<li>	Experience in working MVC Architecture on AngularJS 2 and in software configuration management using subversion control (SVN) and GIT.  </li>
<li>	Experience using most popular Text-Editors like Visual Studio Code, Brackets, Sublime Text, and Notepad++ and IDE’s like Eclipse, NetBeans, Visual Studio. </li>
<li>	Experience in Testing angular applications using Jasmine and Karma </li>
<li>	Good understanding of Typescript and its features with extensive knowledge on the latest ECMA6 features </li>
<li>	Experience in designing web applications employing Search Engine Optimization (SEO) techniques and Search Engine Strategies (SES).  </li>
<li>	Good understanding Application servers such as Apache Tomcat, WebLogic, Jboss </li>
<li>	Experience in Object Oriented Programming Concepts in Java </li>
<li>Experience in debugging and troubleshooting the code. </li>
<li>Highly Curious about new front-end development technologies and adept at promptly and thoroughly mastering them with a keen awareness of new industry developments and the evolution of programming solutions. </li>


</ul>
 </div>
  </div>
  <div class="panel panel-info">
      <div class="panel-heading">TECHNICAL SKILLS:</div>
<div class="panel-body">
<table class="table table-striped">
  
  <tr>
      <td>Operating System</td> <td>Windows 2000/XP/Vista/7/8/10</td>
  </tr>
  <tr>
    <td>Web Technologies</td> <td>HTML5, CSS 3, Bootstrap, JavaScript, JQuery, Photoshop, CSS3 Preprocessors (LESS, SASS)</td>
  </tr>
  <tr>
    <td>JavaScript Frameworks</td>
    <td>Angular 1.x/Angular 2, jQuery</td>
 
  </tr>
  <tr>
    <td>Database</td>
    <td>My SQL, SQL SERVER</td>
    
  </tr>
  <tr>
    <td>Debugging tools	</td>
    <td>Developer tools</td>
    
  </tr>
  <tr>
    <td>Testing</td>
    <td>Karma, Jasmine, Protractor</td>
    
  </tr>
<tr>
    <td>Task Runner	</td>
    <td>Grunt, Gulp</td>
    
  </tr>
<tr>
    <td>Version Controller</td>
    <td>Sub version, GIT</td>
   
  </tr>
<tr>
    <td>Project Management </td>
    <td>Jira, Agile</td>
   
  </tr>
<tr>
    <td>IDE’s</td>
    <td>Eclipse, Net beans, Visual Studio</td>
    
  </tr>
<tr>
    <td>GUI Editors	</td>
    <td>Notepad++, Sublime Text, Brackets, Web storm</td>
  
  </tr>


</table>
</div>
  </div>
<div class="panel panel-info">
      <div class="panel-heading">WORK Experience :</div>
      <div class="panel-body">

<p><b>Client:</b> Fidelity Investments, Dallas, TX				</p>
<p><b>Project Duration:</b>	Nov-2016 to till date</p>
<p><b>Role:</b> UI Developer  	</p>
							
<p>Fidelity Investments operates a brokerage firm, manages a large family of mutual funds, provides fund distribution and investment advice, retirement services, wealth management, securities execution and clearance, and life insurance. It had an annual turn-over of 15.9 billion dollars and provides employment for over 45,000 employees</p>

<b>Responsibilities:</b>
<ul>
<li>	Responsible for development of single page applications using angular2 as a front-end frame work</li>
<li>	Used angular In-built validations for form validations for submitting the valid form</li> 
<li>	Responsible for writing the SQL quires for selecting, adding, deleting and updating the data in the MySQL database</li>
<li>	In this project, we used the karma to set-up test platform with Jasmine as a framework</li>
<li>	Worked in Test Driven Environment for unit testing of the components and services to ensure the expected behavior</li>
<li>	Extensively tested the services by intercepting the HTTP calls before connecting to real server API</li>
<li>	Created custom directives to add required behavior to the html element</li>
<li>	Used Built-In Pipes to format the data and also created Custom Pipes to format the backend data into desired format</li>
<li>	I have used HTTP methods extensively to retrieve the data from the rest API and used that data to update the page dynamically</li>
<li>	Used RXJS Observables to ensure of getting desired type of http response data</li>
<li>	Made use of Operators from RXJS library for formatting the response into the desired format</li>
<li>	Responsible for Routing the application from the one component to the other component and the routing between the child components inside the parent component</li>
<li>	Used Input directive for the communication between the components the parent component and child component and Output directive for vice versa</li>
<li>	Responsible for testing the routing prior to merge, into the testing server</li>
<li>	Make use of Bootstrap classes to fit the forms in all type of devices</li>
<li>	Responsible in making sure the pattern is similar across all the web pages</li>
<li>	Worked closely with SQA team in fixing the reported bugs/defects and checking cross platform</li>
<li>	Managing and implementing all code changes via Git</li>
<li> Deploying builds across development, staging and production instances and maintaining code integrity</li>
</ul>
<p><b>Environments:</b>angular2, Karma, jasmine, Restful Web Services, Jersey, MySQL, Bootstrap, GitHub, HTML, CSS.</p><br>

<p><b>Client:</b> Sprint Corporation- Overland Park, Kansas		 </p>
<p><b>Project Duration:</b>Sep-2015 to Oct-2016</p>
<p><b>Role:</b> Web UI Developer</p>
					
<p>Sprint, is an American telecommunication holding company that provides wireless services and is an internet service provider. The company also offers wireless voice, messaging, and broadband services through its subsidiaries.</p>

<b>Responsibilities:</b>
<ul>
<li>Responsible to understand Business goals, objectives, site functionality. </li>
<li>	involved in Meetings with business customer and technical team for implementing the application</li>
<li>	Worked on developing applications for employees by applying the latest development approaches including MVC in the browser, SPA developing, event-driven applications using Angular.js, jQuery, JSON, HTML5, CSS3, Bootstrap.</li>
<li>	Using AngularJS created custom directives for data manipulations and to display data in company standard format in UI</li>
<li>	Produced content pages with CSS layout and style mark-up presentations and used JavaScript methods and properties</li>
<li>	Worked on the AngularJS to design the web pages and created custom directives, custom filters, two-way data bindings and navigate to different views with the use of ui-router</li>
<li>Experienced on implementing the AngularJS in creating animations based on CSS classes by using ng-animate</li>
<li>Used Http methods for fetching the data from REST API’s.</li>
<li>Used angular In-built validations for form validations for submitting the valid form</li>
<li>	Designed dynamic and multi-browser compatible pages and developed responsive interface using Bootstrap and media queries. </li>
<li>	Used GIT as project version control tool to commit and check code. </li>
<li>	Worked in all phases of SDLC, including requirements analysis, design and development, bug fixing, supporting QA teams, and debugging production issues.</li>
<li>	JIRA for project tracking and Gulp for task runner</li>
<li>Worked in Scrum Agile development environments attending daily stand up and completing stories in each sprint</li>
	
</ul>
<p><b>Environment:</b> HTML, CSS, JavaScript, jQuery, JSON, AJAX, Angular JS, Eclipse, Agile, MySQL </p><br>


<p><b>Client:</b> BBVA Compass Bank- Birmingham, AL				</p>
<p><b>Project Duration:</b>July-2014  to August-2015</p>
<p><b>Role:</b> Front-End Developer</p>

<p>The goal of the project was to develop an online application that provides secure online access to the data and keeps track of customer’s transactions and trades.</p>
 <b> Responsibilities:</b>
 <ul>
<li>Responsible for creating efficient design and developing User Interaction screens per the client requirements using HTML, CSS, JavaScript, jQuery, AJAX and JSON. </li>
<li>	Wrote application level code to perform client-side validation using JavaScript.</li>
<li>	Developed the module in creating the registration fields.</li>
<li>	Involved in understanding the business requirements and helped in training the team members.</li>
<li>	Worked closely with the back-end developers in creating the best possible user experience.</li>
<li>	Dynamic web site design and programming using HTML5, CSS3, JavaScript, jQuery. </li>
<li>	Developed jQuery based calendar to schedule appointments. </li>
<li>Used various jQuery plugins like auto complete, date picker, colour picker, document slider to enhance the usability, functionality and overall experience for website.</li>
<li>Wrote jQuery function while implementing various UI Screens across the whole web application (both consumer facing as well as internal application).</li>
<li>	Used jQuery plugins for Drag-and- Drop, Widgets, Menus, User Interface and Forms.</li>
<li>	Involved in developing HTML, and JavaScript for client-side presentation and data validation on the client side within the forms. </li>
<li>Elegantly implemented page designs in standards-compliant dynamic HTML and CSS. </li>
<li>	Responsible for quality assurance of finished websites including the validation of web forms and links.</li>
<li>Further tasks include management of all MySQL database and all the required tables to store different survey information related to the site.</li> 
<li>Participated in requirement gathering and coordinated with various development teams in code integration.</li>
<li>Involved in production support and bug fixing. </li>
<li>Involved in preparing User Manuals to better understand different functionalities. </li>
	
</ul>

<p><b>Environment:</b>  HTML, CSS, JavaScript, jQuery, JSON, AJAX, Adobe Dreamweaver, Eclipse, Apache HTTP Server, MySQL.</p><br>



<p><b>Client:</b>Aster Minds- Hyderabad, India 	</p>
<p><b>Project Duration:</b>May-2012 to June-2014</p>
<p></p>
<p><b>Role:</b> UI Developer</p>


<b>Responsibilities:</b> 
<ul>
<li>Worked with Business Analysts in understanding the technical requirements of each project</li>
<li>	Translated style guides and designs into functional user interfaces with assurance of cross browser compatibility</li>
<li>Worked closely with Photoshop designers to implement mock-ups and the layouts of the application</li>
<li>Installed variety of WordPress themes and changed the look and functionality.</li>
<li>Used different types of plugins to extend the features and functionality of a website.</li>
<li>	Designed dynamic and browser compatible pages using HTML, CSS, JavaScript, and jQuery</li>
<li>	Developed page layouts, navigation, animation buttons and icons</li>
<li>	Created SQL queries to perform insert, update or delete operation on MySQL database.</li>
<li>	Experience on working with CSS Background, CSS Layouts, CSS positioning, CSS text, CSS border, CSS margin, CSS padding, CSS table, Pseudo classes, Pseudo elements and CSS behaviours in CSS</li>
<li>	Wrote code to perform Form Validations using jQuery and JavaScript.</li>
<li>	Used Ajax to refresh only certain section of the page and reduce the load on the web server</li>
<li>	 Implemented various jQuery effects on the pages</li>
<li>	Developed pages that are cross browser compatible across the browser like Internet Explorer, Mozilla Firefox, Safari and Google Chrome</li>
<li>	Developed data formatted web applications and deploy the script using client-side scripting using JavaScript</li>
<li>	Designed and develop creative intuitive user interfaces that address as per client’s requirements</li>
<li>	Monitor site for any UI inconsistencies and fix all the UI bugs reported in the test track</li>
<li>	Worked closely with QA team to reproduce and fix the defects that were identified during testing procedures.</li>


 
</ul>
<p><b>Environment:</b> HTML, CSS, JAVASCRIPT, JQUERY, AJAX, MySQL, Eclipse.</p>


 
      </div>
</div>
</div>
